@using CMS.BaseModels.Common
@using CMS.Models.Supermarket.Categories
@using CMS.Models.Supermarket.StockImports;
@using CMS.Models.Supermarket.Suppliers
@using CMS.Utilities.Helpers
@model PagedResult<StockImportViewModel>
@{
    ViewData["Title"] = "Danh sách nhập hàng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int count = 0;
}
<div class="card mt-3 mb-3">
    <div class="row g-3">
        <div class="col-xxl-2 col-xl-3">
            <div class="card scrollbar shadow-none shadow-show-xl">
                <div class="card-header bg-body-tertiary d-none d-xl-block">
                    <h5 class="mb-0">Bộ lọc </h5>
                </div>
                <div class="card-body">
                    <form method="get" asp-controller="StockImport" asp-action="Index">
                        <div class="mb-3">
                            <label class="mb-1">Lọc đơn nhập</label>
                            <input type="text" class="form-control form-control-sm" name="keyword" placeholder="..." value="@ViewBag.Keyword">
                        </div>
                        @* <div class="mb-3">
                            <label class="mb-1">Từ ngày</label>
                            <input type="date" class="form-control form-control-sm" name="FromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1">Đến ngày</label>
                            <input type="date" class="form-control form-control-sm" name="ToDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")">
                        </div> *@
                        <button type="submit" class="btn btn-primary w-100">Lọc</button>
                    </form>
                </div>
                <div class="card-footer border-top border-200 py-x1"></div>
            </div>
        </div>
        <div class="col-xxl-10 col-xl-9">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <span class="fs-1 fw-semi-bold">@ViewData["Title"]</span>
                        <span>
                            (<span style="font-size:15px; color:gray;"><font style="color:orange;">@Model.TotalRecords</font> records</span>)
                        </span>
                    </div>

                    <div class="col-auto ms-auto">
                        <div class="col-8 col-sm-auto text-end ps-2">

                            <div class="col-auto ms-auto">
                                <button class="btn btn-sm btn-falcon-default me-2" onclick="window.location.href='@Url.Action("Create", "StockImport")';">
                                    <span class="fas fa-plus me-2"></span>Nhập hàng
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div id="tableExample2">
                    <div class="table-responsive scrollbar" style="max-height: calc(100vh - 12.5rem) !important;">
                        <table class="table table-bordered table-striped table-hover overflow-hidden fs--1 mb-0">
                            <thead class="bg-200">
                                <tr>
                                    <th class="text-nowrap" scope="col">ID</th>
                                    <th class="text-nowrap" scope="col">Nhà cung cấp</th>
                                    <th class="text-nowrap" scope="col">Ngày nhập</th>
                                    <th class="text-nowrap" scope="col">Tổng tiền</th>
                                    <th class="text-nowrap" scope="col">View</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @if (!string.IsNullOrEmpty(ViewBag.Error))
                                {
                                    <tr class="align-middle">
                                        <td colspan="9" class="text-danger">@ViewBag.Error</td>
                                    </tr>
                                }
                                else if (Model == null || Model.Items == null || Model.Items.Count <= 0)
                                {
                                    <tr class="align-middle hover-actions-trigger">
                                        <td colspan="9" class="text-nowrap p-2 ps-3 text-danger">
                                            Chưa có bản ghi
                                        </td>
                                    </tr>
                                }
                                else foreach (var item in Model.Items)
                                    {
                                        count++;
                                        <tr class="align-middle hover-actions-trigger">
                                            <td class="text-nowrap">
                                                @Html.DisplayFor(modelItem => item.StockImportID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SupplierName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ImportDate)
                                            </td>
                                            <td>
                                                @(item.TotalCost.HasValue
                                                    ? item.TotalCost.Value.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) + " ₫"
                                                    : "")
                                            </td>


                                            <td class="text-nowrap position-relative">
                                                <a href="@Url.Action("Detail", "StockImport", new { id = item.StockImportID })"
                                                   class="btn btn-sm btn-primary"
                                                   title="Xem chi tiết">
                                                    <i class="fas fa-eye me-1"></i> Chi tiết
                                                </a>
                                                <div class="hover-actions end-0 top-50 h-100 ps-3 pe-3 translate-middle-y bg-danger">
                                                    @*  <button onclick="openRemoteModal('@Url.Action("Edit", "StockImport", new {id = item.ImportID})', 'Cập nhật phiếu nhập', '800px', '300px')" class="btn p-0 me-2" type="button" data-bs-toggle="" data-bs-placement="top" title="Sửa"><span class="text-white fas fa-edit"></span></button> *@
                                                    <button onclick="openRemoteModal('@Url.Action("Delete", "StockImport", new {id = item.StockImportID})', 'Xóa phiếu nhập', '500px', '200px')" class="btn p-0" type="button" data-bs-toggle="" data-bs-placement="top" title="Xóa"><span class="text-white fas fa-trash-alt"></span></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("exportCsvBtn").addEventListener("click", function () {
        window.location.href = "/StockImport/ExportCsv";
    });
</script>
