@using CMS.BaseModels.Common
@using CMS.Models.Authen.UserStatuses
@model PagedResult<UserStatusViewModel>
@{
    ViewData["Title"] = "UserStatuses";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="card mt-3 mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <span class="fs-1 fw-semi-bold">UserStatuses</span>
                <span>(<span class="text-warning">@Model.TotalRecords</span> records)</span>
            </div>
            <div class="col-auto ms-auto">
                <button class="btn btn-sm btn-falcon-default me-2 d-none d-md-block" onclick="openRemoteModal('@Url.Action("Create", "UserStatus")', 'Add System Role', '800px', '360px')"><span class="fas fa-plus me-2"></span>Add UserStatus</button>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div id="tableExample2">
            <div class="table-responsive scrollbar">
                <table class="table table-bordered table-striped table-hover overflow-hidden fs--1 mb-0">
                    <thead class="bg-200 text-900">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Color</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model.Items)
                        {
                            <tr class="align-middle hover-actions-trigger">
                                <td class="text-nowrap">
                                    @item.UserStatusName
                                </td>
                                <td class="text-nowrap">
                                    @item.UserStatusDesc
                                </td>
                                <td class="text-nowrap position-relative">
                                    <span class="badge rounded-pill py-1 px-2" style="background-color: @(string.IsNullOrEmpty(item.BackgroundColor) ? "var(--falcon-300)" : item.BackgroundColor) !important; color: @(string.IsNullOrEmpty(item.Color) ? "var(--falcon-1000)" : item.Color) !important;">
                                        @(string.IsNullOrEmpty(item.Color) ? "not set" : "Sample")
                                    </span>
                                    <div class="hover-actions end-0 top-0 h-100 ps-3 pe-3 bg-danger">
                                        <button onclick="openRemoteModal('@Url.Action("Edit", "UserStatus", new {id=@item.UserStatusId})', 'Edit System Role', '800px', '360px')" class="btn p-0 me-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="text-white fas fa-edit"></span></button>
                                        <button onclick="openRemoteModal('@Url.Action("Delete", "UserStatus", new {id=@item.UserStatusId})', 'Delete System Role', '500px', '130px')" class="btn p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-white fas fa-trash-alt"></span></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>